body {
    font-family: 'Roboto' sans-serif;
    background-color: #ffffff;
}

/*header*/

.header {
    background-color: #ffffff;
    width: 1600 px;
    height: 370px;
}

.header-nav {

}

.logo {
    text-decoration: none;
}

.logo1 {
    font-family: 'Raleway'
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: -5px;
}

.logo2 {
    font-family: 'Raleway'
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.header--nav-list, .header--contacts-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header--nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    font-style: normal;
    text-decoration: none;
}

.header--nav-link:hover {
    color: #2196F3;
}

.header--contacts-links {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.header--contacts-links:hover {
    color: #2196F3;
}

.header--contacts-links:focus {
    color: #2196F3;
}

/*hero*/

.hero {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
}

.hero-title {
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 900;
    width: 696px;
}

.hero-button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 216px;
    height: 50px;
} 

.hero-button-text {
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-weight: 700;
}

/*About*/

.about-list, .portfolio-list, .team-list

{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-title, .team-title-member
{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.about-text, .team-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/*portfolio main*/

.portfolio-title, .team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/*team*/

/*footer*/

.footer {
    background: #2F303A;
    width: 1600px;
    height: 250px;
}

.address-list {
    list-style-type: none
    margin: 0;
    padding: 0;
}

.address-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.address-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
}

















