body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

/*header*/

.header {
    background-color: #ffffff;   
}

.header-nav {

}

.logo {
    text-decoration: none;
}

.logo1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: -5px;
}

.logo2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.header--nav-list, .header--contacts-list {
    list-style-type: none;
}

.header--nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    font-style: normal;
    text-decoration: none;
}

.header--nav-link:hover {
    color: #2196F3;
}

.header--nav-link:focus {
    color: #2196F3;
}

.header--contacts-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.header--contacts-links:hover {
    color: #2196F3;
}

.header--contacts-links:focus {
    color: #2196F3;
}

/*hero*/

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 900;
}

.hero-button {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 216px;
    height: 50px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-weight: 700;
} 
  
.hero-button:hover {
    background-color: #188CE8;;
}

.hero-button:focus {
    background-color: #188CE8;
}
/*About*/

.about-list, .portfolio-list, .team-list

{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-title
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*portfolio main*/

.portfolio-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}

/*team*/

.team {
    background-color:  #F5F4FA;
}

.team-card {
    background-color: #ffffff;
}
.team-title-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}


/*footer*/

.footer {
    background: #2F303A;
}

.footer-logo1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: -5px;
}

.footer-logo2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.address-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.address-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.portfolio2-filter {
    list-style-type: none;
}

.portfolio2-button {
    background-color: #F5F5F5;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}

.portfolio2-button:hover {
    background-color:#2196F3;
    color: #FFFFFF;

}

.portfolio2-button:focus {
    background-color:#2196F3;
    color: #FFFFFF;
    
}

.portfolio2-list {
    list-style-type: none;
}
.portfolio2-card 

.portfolio2-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio2-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

























